nav{
    padding:3*$padding;
    width: 200px;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background-color: $color3;
    ul{
      li:hover{
        background-color: $color4;
        a{
          color: $color2;
        }
      }
      li{
        padding:$padding;
        margin: 15px 0;
        width: 200px;
        a{
          color: $color4;
          font-family: monospace;
          font-size: 20px;
        }
      }
    }
}


.active{
  display: unset;
}
